.eventContainer {
  padding: 0 !important;
  margin-bottom: 20px !important;
}

.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.commentItem {
  border: solid;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0 7px 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 7px 15px 0 rgba(0,0,0,0.3);
  padding: 10px;
  margin-bottom: 20px;
}

.userX {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: grey;
}

.text {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.formContainer {
  border: solid;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  border-radius: 0.25rem;
}

.izbornik{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}