.info{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.marker{
    float: left;
    font-size: 1.5em;
    margin-right: 2px;
    color: #007bff!important;
    margin-right: 10px;
}

.cardRow{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.card{
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}